@model Casgem_Portfolio.Models.Entities.TblProject

@{
    ViewBag.Title = "Proje Güncelleme Sayfası";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}


@using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.ProjectID)
    <div class="form-horizontal">
        <h4>Proje Güncelleme Ekrannı</h4>
        <hr />
        <div class="form-group">
            <label>Proje Adı</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Name)
            </div>
        </div>
        <div class="form-group">
            <label>Proje Özeti</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Summary)
            </div>
        </div>
        <div class="form-group">
            <label>Proje AÇıklaması</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Description)
            </div>
        </div>
        <div class="form-group">
            <label>Proje Resmi</label>
            <div class="col-md-10">
                <input type="file" name="image" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Projeyi Güncelle" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Proje Listesine Geri Dön", "Index", null, new { @class = "btn btn-outline-warning mt-3" })
</div>
